{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System solver</title>
    <script type="module" src="{% static 'js/webLinearSystemSolverAlgorithms.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/controls.css' %}">
    <link rel="stylesheet" href="{% static 'css/pageLayouts.css' %}">
</head>
<body>
<div class="topnav">
    <div class="button-panel">
        <a>
            <button class="command-button" data-title="Generates symmetric positive definite matrix" type="button"
                    id="generatorButton">View
            </button>
        </a>
        <a>
            <button class="command-button" data-title="Solves matrix" type="button"
                    id="solveButton">Solve
            </button>
        </a>

    </div>
</div>
<h3 id="system">Linear system</h3>
    <table>
        <tr>
            <th>
                <div class=img-div>
                    <img id='img' border="0"/>
                </div>
            </th>
        </tr>
    </table>

    <h3 id="solution">Solution</h3>
        <table>
            <tr>
                <th>
                    <div class=img-div>
                        <img id='img-solution' border="0"/>
                    </div>
                </th>
            </tr>
        </table>

</body>
<script id="MathJax-script" async
        src="static/node_modules/mathjax/es5/tex-mml-chtml.js">
</script>
</html>