{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System solver</title>
    <script type="module" src="{% static 'js/webLinearSystemSolverAlgorithms.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/controls.css' %}">
    <link rel="stylesheet" href="{% static 'css/pageLayouts.css' %}">
</head>
<body>
<div class="topnav">
    <div class="button-panel">
        <a>
            <button class="command-button" data-title="Generates symmetric positive definite matrix" type="button"
                    id="generatorButton">Random
            </button>
        </a>
         <a>
            <button class="command-button" data-title="Solves matrix" type="button"
                    id="solveButton">Solve
            </button>
        </a>

    </div>
</div>


<div class="preview-math-input">
{#    <h2>Linear system</h2>#}
    <p class="linear-system-preview"></p>
    <math id="equation">

    </math>
    $$
    \left\{\begin{array}{ll}
    a_1x_1+b_1y+c_1z+ \\
    a_2x+b_2y + \\
    a_3x+b_3y+c_3z\\
    \end{array}\right.$$
</div>
</body>
<script id="MathJax-script" async
        src="static/node_modules/mathjax/es5/tex-mml-chtml.js">
</script>
</html>